@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<h1>Roles</h1>
<partial name="_RoleForm" model="new RoleFormViewModel()"/>
<table class="table tab-striped mt-4">
    <thead class="bg-primary text-white">
        <tr>

            <td>Id </td>
            <td>Role Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>